body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    
}

#span1{
    color: lightcoral;
}

#span2{
    color: cornflowerblue;
}

.heading{
    font-size: 40px;
}

.container{
    display: flex;
    background-image: url("photos/top-banner.png");
    background-repeat: no-repeat;
}

.half_width{
    width:50%;
    padding-left: 40px;   
}

.half_width img
{
    width: 80%;
    padding-left: 60px;
    padding-top: 20px;
    
}
.heading1{
    font-size: 40px;
    color :rgb(212, 104, 212);
}
.heading2{
    color: lightskyblue;
}
.half_width p{
    text-align: justify;
    padding-right:40 ;

}

#link1{
    text-decoration: none;
    background-image: linear-gradient(rgb(238, 147, 162),rgb(149, 181, 192),rgb(212, 104, 212) );
    padding: 5px 8px;
    border-radius: 6px;
    font-weight: bolder;

}



.container1{
    display: flex;
    background-image: url(photos/dream-bg.png);
    background-position: top right;
    height: 50vh;
    background-repeat : no-repeat;
    background-size : contain;
      
}

.half_width1{
    width:50%;
    padding-left: 40px;

}
.half_width1 img
{
    width: 80%;
    padding-left: 60px;
    padding-top: 20px;
    
}

.half_width1 p{
    text-align: justify;
    padding-right: 80px;
}
#link2{
    text-decoration: none;
    background-image: linear-gradient(rgb(238, 147, 162),rgb(149, 181, 192),rgb(212, 104, 212) );
    padding: 5px 8px;
    border-radius: 6px;
    font-weight: bolder;

}
.heading3{
    text-align: center;
    text-decoration:underline;
    font-size: 60px;
    color: rgb(230, 150, 177);
    background-image: url("photos/exp-bg.png");
    background-repeat: no-repeat;
    background-position:left;
    height: 40vh;

}

.container3
{   
    display: flex;
   
}

.works{
    width:50%;
    padding-left: 40px;
}

.heading4{
    font-size: 40px;
    color: olive;
    }

.heading5{
     font-size: 40px;
    color: olive;
    }
.works1 p{
    text-align: justify;
    padding: 40px,80px;
}
.works2 p{
    text-align:justify;
    padding: 40px,80px;
}

.works1
{
    height: 20x;
    width: 1500px;
    background-color:rgb(222, 226, 225);;
    border-left: 7px solid;
    border-image:linear-gradient(lightskyblue,lightpink);
    border-image-slice: 70;
    box-shadow: rgb(212, 104, 212) ;
    border-style: dotted;
    border-color:rgb(238, 147, 162) ;
}
.works2
{   
    height: 20x;
    width: 1500px;
    background-color: rgb(222, 226, 225);
    border-left: 7px solid;
    border-image:linear-gradient(lightskyblue,lightpink);
    border-image-slice: 70;
    box-shadow: rgb(212, 104, 212) ;
    border-style: dotted;
    border-color:rgb(238, 147, 162) ;
    
    
}
footer p{
   font-family: "Sofia", sans-serif;
   font-size: larger;
   font-weight: bolder;
   color: lightseagreen;
   
}